doctype html 
html 

head
    title Página no encontrada 
    link(rel="stylesheet", "main.css")
    meta(charset="UTF-8")

body 
    h1 
        a(href="/") Regresar a los perros del mundo
        
    h2 No tenemos a la raza '#{texto}' en nuestra página