doctype html
html
    head
        title #{raza}
        meta(charset="utf-8")
        link(rel="stylesheet" href="perro.css")
    body
        main
            h1 #{raza}
            figure
                img(src=data.imagen width=750)
                figcaption #{data.texto}
            a(href="/") Regresar